@import '../../styles/typography';
@import '../../styles/mixins';

.Container {
  @include d-flex-a-center-j-center;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 6rem;

  .Title {
    @include heading;
    text-align: center;
  }
}
