@import '../../styles/typography';
@import '../../styles/mixins';

.Container {
  @include d-flex-a-center-j-center;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 6rem;

  .Title {
    @include heading;
    text-align: center;
  }

  .Projects {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
    }

    @include d-flex-col;
    width: 80%;
    gap: 4rem;
    margin-top: 4rem;
  }
}
