@import '../../styles/typography';
@import '../../styles/mixins';
@import '../../styles/theme';

.Container {
  @include d-flex-col;
  width: 100%;

  .Image {
    border-radius: 50px;
  }

  .Title {
    @include d-flex-col;
    align-items: center;
    gap: 1rem;

    @media (min-width: 768px) {
      @include d-flex-row;
      align-items: center;
      @include typography-2;
    }

    .Icon {
      //@include glass;
      @include border;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      padding: 1rem;
      font-size: 2rem;
    }

    h1 {
      margin: 0;
    }
  }

  .Description {
    .Time {
      font-weight: bold;
      margin: 0.5rem 0;
    }

    ul,
    li {
      list-style: disc;
    }

    ul {
      padding-left: 1rem;
    }

    @include typography-2;
    word-break: normal;
    @media (min-width: 768px) {
      width: 95%;
      padding-left: 6rem;
    }
  }
}
