@import '../../styles/typography';
@import '../../styles/mixins';
@import '../../styles/theme';

.Container {
  @include d-flex-col;
  @include border;
  padding: 1rem;

  h1 {
    z-index: 100;

    a {
      @include d-flex-row;
      gap: 2rem;
    }

    @include title;
  }

  p {
    @include typography-2;
    display: flex;
    flex-grow: 1;
  }

  .Language {
    @include d-flex-row;
    gap: 1rem;
    align-items: center;
    width: 100%;

    span {
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }
  }

  .Tags {
    @include d-flex-row;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;

    .Tag {
      @include d-flex-a-center-j-center;
      max-width: min-content;
      @include border;
      min-width: 75px;
      padding: 0 0.1rem;
      border-radius: 25px;
      font-size: 2rem;
      color: white;
      @include typography-small;
    }
  }
}
