@import 'styles/mixins';
@import 'styles/typography';

.Container {
  @include d-flex-col;
  padding: 2rem;
  height: 85%;
  width: 50%;
  @include glass;

  h1 {
    @include title;
  }

  p {
    @include typography-1;
  }
}
