@import '../styles/theme';

@mixin d-flex-a-center-j-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin d-flex-row {
  display: flex;
  flex-direction: row;
}

@mixin d-flex-col {
  display: flex;
  flex-direction: column;
}

@mixin glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(40, 42, 53, 0.71);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@mixin border {
  border: 1px solid $color-white-2;
}
