@mixin heading {
  font-size: 4rem;
}

@mixin paragraph {
  line-height: 1.5;
  font-size: 1.5rem;
}

@mixin title {
  font-size: 2rem;
}

@mixin typography-1 {
  line-height: 1;
  font-size: 1.5rem;
}
