@import '../../styles/typography';
@import '../../styles/mixins';

.Container {
  @include d-flex-col;
  min-height: 100vh;
  gap: 2rem;

  .Grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem;

    @media (min-width: 640px) {
      grid-template-columns: 1fr 1fr;
      padding: 0;
    }
  }

  p {
    @include paragraph;
  }

  h1 {
    @include mobile-heading;
    @media (min-width: 640px) {
      @include heading;
    }
  }
}
