@import '../../styles/typography';
@import '../../styles/mixins';

.Container {
  @include d-flex-col;
  min-height: 100vh;
  gap: 2rem;

  .Grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.5rem;
    padding: 2rem;
    place-items: center;

    @media (min-width: 640px) {
      grid-template-columns: 1fr 1fr;
      padding: 0;
    }
  }

  .ImageContainer {
    @include d-flex-a-center-j-center;
    flex-direction: column;
    gap: 1.5rem;
    z-index: 100;

    > div {
      @include typography-1;
    }

    > span {
      z-index: 100;
      @include d-flex-a-center-j-center;
      width: 100%;

      > .Spotify {
        //@include d-flex-row;
        //align-items: center;
        //word-break: break-word;
        gap: 0.5rem;
        display: grid;
        grid-template-columns: 0.1fr 1fr;
        place-items: center;
        margin-left: 1rem;
        @include typography-2;

        .SpotifyLogo {
          @include d-flex-a-center-j-center;
        }

        @media (min-width: 768px) {
          margin-left: 0;
        }
      }
    }
  }

  p {
    z-index: 100;
    @include typography-2;

    > span {
      font-weight: 500;
      text-decoration: underline;
      text-decoration-style: wavy;
      text-underline-offset: 4px;
      text-decoration-color: $accent-color-2;
    }
  }

  h1 {
    @include mobile-heading;
    @media (min-width: 640px) {
      @include heading;
    }
  }
}
