@import '../../styles/typography';
@import '../../styles/mixins';

.Container {
  @include d-flex-col;
  min-height: 100vh;
  gap: 6rem;

  .Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  p {
    @include paragraph;
  }

  h1 {
    @include heading;
  }
}
