@import '../../styles/mixins';

.Container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  padding: 2rem 1rem 1rem;

  .Logo {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: row;
    align-content: center;
  }

  .Links {
    grid-area: 1 / 2 / 2 / 4;
    display: flex;
    justify-content: space-around;
  }

  .Socials {
    grid-area: 1 / 5 / 2 / 6;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
