@import '../../styles/mixins';

.Container {
  display: flex;
  flex-direction: row;
  width: 100%;

  .Logo {
    z-index: 100;
    padding-top: 1rem;
  }

  .Socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 4rem;
    padding-right: 1rem;
    @media (min-width: 768px) {
      padding-right: 0;
    }
  }
}
