@import '../../styles/mixins';

.Container {
  display: flex;
  flex-direction: row;
  width: 100%;

  .Socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }
}
