@import '../../styles/mixins';

.Container {
  @include d-flex-col;
  padding: 1rem;

  @media (min-width: 640px) {
    padding: 0;
  }

  .Marquee {
    @include glass;
    font-size: 2.5rem;
    overflow-y: hidden;

    svg {
      margin: 2rem;
    }
  }
}
