@import '../../styles/typography';
@import '../../styles/mixins';

.Container {
  @include d-flex-col;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  @media (min-width: 768px) {
    padding: 0;
  }

  .Title {
    @include mobile-heading;
    @media (min-width: 768px) {
      @include heading;
    }
    text-align: center;
  }
}
