@import 'styles/mixins';
@import 'styles/typography';

.Container {
  max-height: 100vh;
  @include d-flex-a-center-j-center;
  flex-direction: column;
  height: 80vh;

  h1 {
    @include d-flex-row;
    @include heading;
    letter-spacing: 0.2rem;
  }
}
