@mixin d-flex-a-center-j-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin d-flex-row {
  display: flex;
  flex-direction: row;
}

@mixin d-flex-col {
  display: flex;
  flex-direction: column;
}

@mixin glass {
  //glass 1
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  //glass 2
  //background: rgba(255, 255, 255, 0.2);
  //border-radius: 16px;
  //box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  //backdrop-filter: blur(5px);
  //-webkit-backdrop-filter: blur(5px);
  //border: 1px solid rgba(255, 255, 255, 0.3);
}
