@mixin d-flex-a-center-j-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin d-flex-row {
  display: flex;
  flex-direction: row;
}

@mixin d-flex-col {
  display: flex;
  flex-direction: column;
}
